@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    /*margin: auto;*/
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    /*background: crimson;*/
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    /*background: crimson;*/
    background: #CAD3C8;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: crimson;
}

/*.navbar.sticky .logo a span {*/
/*    !*color: #fff;*!*/
/*    !*transition: all 0.3s ease;*!*/
/*}*/

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
    /*transition: all 0.3s ease;*/
}

/*menu btn*/
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*home section styling*/
.home {
    display: flex;
    /*background: url("../images/hero.jpg") no-repeat center;*/
    background: url("../images/banner2.jpg") no-repeat center;
    /*background-size: 100% ;*/
    background-size: cover;
    background-position: top;
    height: 100vh;
    left: 0;
    right: 0;
    /*width: 100%;*/
    color: #fff;
    min-height: 50px;
    font-family: 'ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 600;
}

/*about section start*/

.about{
    clear: both;
    /*position: relative;*/
    /*min-width: 400px;*/
    /*margin: 15px;*/
    /*margin-bottom: 50px;*/
    /*align-content: center;*/
}

.about-contener{

    width: 100%;
    /*position: relative;*/
    /*background-color: salmon;*/
    /*border: 3px solid red;*/
    /*height: 300px;*/
    /*top: 0;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-evenly;*/
    margin-left: auto;
    margin-right: auto;
    /*left: 66px;*/
}

.about-pic{
    margin-left: auto;
    float: left;
    /*background-color:tan;*/
    padding: 15px;
    /*border: 3px solid green;*/
}

.about-content{
    float: left;
    /*position: relative;*/
    margin-left: 10px;
    margin-right: auto;
    width: 600px;
    padding: 10px;
    /*border: 3px solid green;*/

}

.about-content h3{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*about section end*/

/*service tab start*/

#service{
    clear: both;
    /*position: relative;*/
    margin-top: 20px;
}

.service-content{
    /*position: relative;*/
    /*display: flex;*/
    /*background-color: salmon;*/
    /*border: 3px solid red;*/
    /*height: 300px;*/
    /*top: 0;*/
}

.service-item{
    /*position: relative;*/
    float: left;
    margin: 5px;
    width: 300px;
    border: 3px solid black;
}

/*service tab end*/


/*contact section start*/
#contact{
    clear: both;
}
#contact .contact {
    /*flex-direction: column;*/
    /*padding: 100px 0;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*min-width: 20vh;*/
}
#contact .contact .section-title {
    padding-left: 12px;
}
#contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
}
#contact .contact-item {
    width: 32%;
    float: left;
    border: 2px solid black;
    margin: 0;
    flex-direction: row;
    box-shadow: 0px 0px 35px 0px #0000002c;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0px #0000002c;
}
#contact .contact-item .icon {
    height: 100px;
    width: 100px;
}
#contact .contact-item .icon img {
    object-fit: contain;
}
#contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}
#footer .social-item img{

}
/*contact section end*/


/*footer styling start*/

.footer{
    background-color: #fff;
}

.social-icon {
    display: grid;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    place-items: center;
    /*background: rgb(2,0,36);*/
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(176,169,169,1) 0%, rgba(233,232,232,1) 0%, rgba(209,201,201,1) 100%);*/
    font-family: 'Roboto', sans-serif;
}

.wrapper .button {

    width: 60px;
    height: 60px;
    margin: 0 5px;
    background: #fff;
    float: left;
    border-radius: 50px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    transition: width .5s ease-in-out;

}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
    color: #fff;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #1DA1F2;
    color: #fff;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #E1306C;
    color: #fff;
}

.wrapper .button:nth-child(4):hover .icon {
    background: #333;
    color: #fff;
}

.wrapper .button:nth-child(5):hover .icon {
    background: #FF0000;
    color: #fff;
}

.wrapper .button:nth-child(1):hover span {
    color: #4267B2
}

.wrapper .button:nth-child(2):hover span {
    color: #1DA1F2
}

.wrapper .button:nth-child(3):hover span {
    color: #E1306C
}

.wrapper .button:nth-child(4):hover span {
    color: #333
}

.wrapper .button:nth-child(5):hover span {
    color: #FF0000
}

.wrapper .button .icon {
    display: inline-block;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all .2s ease-in-out;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

.copyRights {
    margin-top: 10px;
    position: relative;
    text-align: center;
    /*left: 45%;*/
    bottom: 10%;
    margin-bottom: 10px;
}

.copyRights p {
    padding-top: 5px;
}

/*footer styling end*/

/*media query start*/
@media (max-width: 1104px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 991px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 947px) {
    .max-width {
        padding: 0 50px;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        /*right: 0;*/
        top: 0;
        bottom: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.23s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }
    .about-content{
        float: left;
        /*position: relative;*/
        margin-left: 10px;
        margin-right: auto;
        width: 100%;
        padding: 10px;
        /*border: 3px solid green;*/

    }
}

